@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
  --body-color: #B2D8D8;
  --light-text: #0295d4;
  --bold-text: #a92033;
}

body {
  color: var(--foreground);
  background: var(--body-color);
  font-family: 'Space Mono', monospace;
  padding: 0; /* Remove padding from body */
  margin-left: 1rem; /* Add margin to the left */
  margin-right: 1rem; /* Add margin to the right */
}

.font-lato {
  font-family: 'Space Mono', monospace;
}

.bg-bold-text {
  background-color: var(--bold-text); /* Add this class */
}

.border-bold-text {
  border-color: var(--bold-text); /* Add this class */
}

.home-container {
  background-color: var(--background);
  min-height: calc(100vh - 10vh);
  padding: 2rem 5rem 0 5rem; /* Add padding to the sides and top */
}

.project-container {
  background-color: var(--background);
  min-height: calc(100vh - 10vh);
}

.typerwriter-container {
  background-color: var(--background);
  padding: 2rem 20rem 2rem 20rem; /* Add padding to the sides and top */
}

.about-container {
  background-color: var(--background);
}

.contact-container {
  background-color: var(--background);
  min-height: calc(100vh - 10vh); /* Adjust for header height */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  justify-content: center; /* Center items vertically */
  gap: 2rem; /* Add space between email-container and FloatingDock */
}

.email-container {
  width: 50%;
  margin: 0 auto; /* Center the container */
}

header {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--foreground);
  height: 8vh; /* Set header height to 10% of the viewport height */
  margin-left: -1rem; /* Remove left margin */
  margin-right: -1rem; /* Remove right margin */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1rem;
}

nav a {
  text-decoration: none;
  font-weight: bold;
  color: var(--foreground);
}

@media (max-width: 768px) {
  nav ul {
    z-index: 9999;
    opacity: 100%;
    flex-direction: column;
    background: var(--foreground);
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .email-container {
    width: 80%; /* Set width to 80% in responsive view */
  }

  .typerwriter-container {
    padding: 0; /* Remove padding in responsive view */
  }

  .profile-image {
    width: 12vh; /* Reduced width */
    height: 12vh; /* Reduced height */
  }
}

.typewriter {
  max-width: 95%;
  height: 30vh; /* Reduced height */
  line-height: 1.4;
  font-family: 'Space Mono', monospace; /* Use Space Mono font */
  font-size: calc(1.5rem + 1.5vw); /* Reduced font size */
  color: var(--foreground); /* Normal font color for static text */
  white-space: pre-wrap; /* Handle multi-line text */
  overflow: hidden;
  display: block;
  width: 100%;
  text-align: left; /* Left-aligned text */
  margin-left: 2rem; /* Generous space on the left */
  align-self: start;
}

@media (max-width: 768px) {
  .typewriter {
    height: 10vh; /* Reduced height */
    font-size: calc(0.75rem + 1.5vw); /* Reduced font size */
    white-space: normal;
    line-height: 1.5;
    text-align: center; /* Center text horizontally in responsive view */
  }
  .typerwriter-container {
    padding: 0; /* Remove padding in responsive view */
  }
}

.light-bold {
  font-weight: bold;
  color: var(--light-text); /* Light text color for the first part of dynamic text */
}

.bold-large {
  font-weight: bold;
  font-size: 1.5em; /* Slightly larger font size */
  color: var(--bold-text); /* Different font color for bold text */
  text-shadow: 2px 2px 4px rgba(255, 0, 0, 0.3); /* Matching shadow color for bold text */
}

.sentence:not(.last-sentence) {
  display: block;
}

.last-sentence {
  white-space: nowrap;
  display: inline-block;
}

.dynamic-text {
  position: relative;
}

.cursor {
  display: inline-block;
  animation: fade 1s infinite ease-in-out;
}

.large-cursor {
  font-size: 1.5em; /* Match the larger font size */
}

@keyframes fade {
  0%, 100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 10vw);
  grid-template-rows: repeat(2, 30vh);
  gap: 1rem;
  width: 100%;
}

.image-grid > div {
  position: relative;
  width: 100%;
  height: 100%;
}

.image-grid > div img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image covers the entire grid cell */
}

@media (max-width: 768px) {
  .image-grid {
    grid-template-columns: repeat(3, 20vw);
    grid-template-rows: repeat(2, 10vh); /* Maintain the same number of columns */
  }

  .image-grid > div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .image-grid > div img {
    width: 100%;
    height: auto;
  }
}
